#container {
  width: fit-content;
}

.name::before {
  content: "Name: ";
  font-weight: bold;
}

.phone::before {
  content: "Phone: ";
  font-weight: bold;
}

.company::before {
  content: "Company Name: ";
  font-weight: bold;
}

.company {
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
