#container {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.user-info {
  border: 1px solid gray;
  padding: 10px;
  margin: 20px;
  width: 15%;
  height: 200px;
}

.user-info:hover {
  box-shadow: 5px 5px 5px gray;
}

.name::before {
  content: "Name: ";
  font-weight: bold;
}

.phone::before {
  content: "Phone: ";
  font-weight: bold;
}

.company::before {
  content: "Company Name: ";
  font-weight: bold;
}

.company {
  margin-bottom: 20px;
}
